*{
    margin:0px;
    padding: 0px;
    font-family: Berlin Sans FB;
    text-align: center;
}
nav{
    height: 60px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar{
    color: #fff;
    font-size:x-large;
    width: 500px;
}
.no{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.note{
    color: #fff;
    font-size: large;
}
.container{
    height: 523px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
}
.chat_container{
    width:90vw;
    height: 520px;
    background-color: #333;
    border: 2px solid #333;
    border-radius: 15px;
}
#chat_box{
    color: #fff;
    width: 80vw;
    height:470px;
    margin: auto;
    border: 2px solid #333;
    overflow-y: auto;
    background-color: #333;
}
#user_input{
    margin-left: 70px;
    margin-top: 5px;
    width:1000px;
    height: 25px;
}
#btn{
    cursor: pointer;
    border:none;
}
.speech_container{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fa{
    cursor: pointer;
    color: #fff;
}
#assistant-response{
    height: 50px;
    text-align: center;
}

p{
    color: #fff;
}

.search{
    display: flex;
}



.chat_message {
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    max-width: 70%;
}

.user_message {
    background-color: #007bff;
    color: white;
    align-self: flex-end;
}

.bot_message {
    background-color: #28a745;
    color: white;
    align-self: flex-start;
}
#explore{
    color: white;
}
