<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>D.A.R.V.I.S</title>
    <link rel="shortcut icon" href="img/D.A.R.V.I.S.-removebg-preview-removebg-preview.png" type="image/x-icon">
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <nav>
            <div class="navbar">VIDEO GENERATOR</div>
        </nav>
    </header>
    <div class="no">
        <div class="note">Please make sure to keep your queries under specific guidelines.</div>
    </div>
    <div class="container">
    <div class="chat_container">
        <div id="chat_box"></div>
        <div class="search">
            <input type="text" id="user_input" placeholder="Enter your query here" onkeypress="handleKeyPress(event)">
            <div class="button button--ghost"  onclick="sendmessage()">SEND</div>
        </div>
    </div>
    </div>
    <script>
        function sendmessage(){
        var userinput=document.getElementById("user_input").value
        document.getElementById("chat_box").innerHTML+=`<div class="chat_message user_message"><p>YOU: ${userinput}</p></div>`;
        document.getElementById("user_input").value=""
        fetch("http://127.0.0.1:5004/submit_query",{
            method:"POST",
            headers:{
                "Content-Type":"application/x-www-form-urlencoded"
            },
            body:`query=${encodeURIComponent(userinput)}`
        })
        .then(response=>response.text())
        .then(data=>{
            if(isValidURL(data)){
               document.getElementById("chat_box").innerHTML+=` <video controls autoplay style="width: 500px; height: auto;">
                <source src="${data}" type="video/mp4">
                Your browser does not support the video tag.
            </video>`;
            }
            else{

                document.getElementById("chat_box").innerHTML+=`<p>CHATBOT:${data}</p>`;
            }
        })
        .catch(error=> console.error("Error",error))
        }
        function isValidURL(string){
            try{
                new URL(string);
                return true;
            }catch(_){
                return false;
            }
        }

        function handleKeyPress(event) {
        if (event.keyCode === 13) {
            sendmessage();
        }
    }
    </script>

<footer class="footer section">
    <div class="footer__container container grid">
        <div class="footer__content">
            <a href="#" class="footer__logo">
                <img src="img/D.A.R.V.I.S.-removebg-preview-removebg-preview.png" alt="" class="footer__logo-img">
                D.A.R.V.I.S
            </a>

            
            <div class="footer__social">
                <a href="https://www.facebook.com/" target="_blank" class="footer__social-link">
                    <i class='bx bxl-facebook'></i>
                </a>
                <a href="https://www.instagram.com/" target="_blank" class="footer__social-link">
                    <i class='bx bxl-instagram-alt' ></i>
                </a>
                <a href="https://twitter.com/" target="_blank" class="footer__social-link">
                    <i class='bx bxl-twitter' ></i>
                </a>
            </div>
        </div>

        <div class="footer__content">
            <h3 class="footer__title">About</h3>
            
            <ul class="footer__links">
                <li>
                    <a href="aboutus.html" class="footer__link">About Us</a>
                </li>
                <li>
                    <a href="purpose.html" class="footer__link">Features</a>
                </li>
                <li>
                    <a href="#" class="footer__link">News</a>
                </li>
            </ul>
        </div>

        <div class="footer__content">
            <h3 class="footer__title">Our Services</h3>
            
            <ul class="footer__links">
                <li>
                    <a href="education.html" class="footer__link">Education</a>
                </li>
                <li>
                    <a href="medical.html" class="footer__link">Medical</a>
                </li>
                <li>
                    <a href="weather.html" class="footer__link">Environment</a>
                </li>
                <li>
                    <a href="other.html" class="footer__link">Other AIs</a>
                </li>
            </ul>
        </div>

        <div class="footer__content">
            <h3 class="footer__title">Our Company</h3>
            
            <ul class="footer__links">
                <li>
                    <a href="#" class="footer__link">Blog</a>
                </li>
                <li>
                    <a href="aboutus.html" class="footer__link">About us</a>
                </li>
                <li>
                    <a href="#" class="footer__link">Our mission</a>
                </li>
            </ul>
        </div>
    </div>

    <span class="footer__copy">© 2024 Darvis. All rigths reserved</span>

   
</footer>

<a href="#" class="scrollup" id="scroll-up">
    <i class='bx bx-up-arrow-alt scrollup__icon'></i>
</a>


<script src="js/scrollreveal.min.js"></script>

<script src="js/swiper-bundle.min.js"></script>

<script src="js/main.js"></script>
</body>
</html>