<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="img/D.A.R.V.I.S.-removebg-preview-removebg-preview.png" type="image/x-icon">
    <title>D.A.R.V.I.S</title>
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <header>
        <nav>
            <div class="navbar">Welcome to AI environmental assistance</div>
        </nav>
    </header>
    <div class="no">
        <div class="note">Press generate to know the pollution in your area and also measures to reduce it</div>
    </div>
    <div class="container">
    <div class="chat_container">
        <div id="chat_box"></div>
        <div class="search">
            <div class="button button--ghost"  onclick="sendmessage()">GENERATE</div>
        </div>
    </div>
    </div>

    <script>
        document.getElementById('generateButton').addEventListener('click', function() {
            var xhr = new XMLHttpRequest();
            xhr.open('GET', 'http://127.0.0.1:5006/generate_response');
            xhr.onload = function() {
                if (xhr.status === 200) {
                    var responseContainer = document.getElementById('chat_box');
                    responseContainer.innerHTML = '<div class="chat_message bot_message">' + xhr.responseText + '</div>';
                }
            };
            xhr.send();
        });
    </script>

<footer class="footer section">
    <div class="footer__container container grid">
        <div class="footer__content">
            <a href="#" class="footer__logo">
                <img src="img/D.A.R.V.I.S.-removebg-preview-removebg-preview.png" alt="" class="footer__logo-img">
                D.A.R.V.I.S
            </a>

            
            <div class="footer__social">
                <a href="https://www.facebook.com/" target="_blank" class="footer__social-link">
                    <i class='bx bxl-facebook'></i>
                </a>
                <a href="https://www.instagram.com/" target="_blank" class="footer__social-link">
                    <i class='bx bxl-instagram-alt' ></i>
                </a>
                <a href="https://twitter.com/" target="_blank" class="footer__social-link">
                    <i class='bx bxl-twitter' ></i>
                </a>
            </div>
        </div>

        <div class="footer__content">
            <h3 class="footer__title">About</h3>
            
            <ul class="footer__links">
                <li>
                    <a href="aboutus.html" class="footer__link">About Us</a>
                </li>
                <li>
                    <a href="purpose.html" class="footer__link">Features</a>
                </li>
                <li>
                    <a href="#" class="footer__link">News</a>
                </li>
            </ul>
        </div>

        <div class="footer__content">
            <h3 class="footer__title">Our Services</h3>
            
            <ul class="footer__links">
                <li>
                    <a href="education.html" class="footer__link">Education</a>
                </li>
                <li>
                    <a href="medical.html" class="footer__link">Medical</a>
                </li>
                <li>
                    <a href="weather.html" class="footer__link">Environment</a>
                </li>
                <li>
                    <a href="other.html" class="footer__link">Other AIs</a>
                </li>
            </ul>
        </div>

        <div class="footer__content">
            <h3 class="footer__title">Our Company</h3>
            
            <ul class="footer__links">
                <li>
                    <a href="#" class="footer__link">Blog</a>
                </li>
                <li>
                    <a href="aboutus.html" class="footer__link">About us</a>
                </li>
                <li>
                    <a href="#" class="footer__link">Our mission</a>
                </li>
            </ul>
        </div>
    </div>

    <span class="footer__copy">© 2024 Darvis. All rigths reserved</span>

   
</footer>

<a href="#" class="scrollup" id="scroll-up">
    <i class='bx bx-up-arrow-alt scrollup__icon'></i>
</a>


<script src="js/scrollreveal.min.js"></script>

<script src="js/swiper-bundle.min.js"></script>

<script src="js/main.js"></script>
</body>
</html>